{% extends 'historia/base.html' %}

  {% block content %}
    <main class="flex flex-col items-center justify-center space-y-3">
      <h2 class="text-2xl font-bold">Login</h2>
      <form method="post" class="flex flex-col items-center justify-center space-y-4 max-w-xs mx-auto">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    <a href="{% url 'accounts:register' %}" class="btn btn-neutral">Register</a>
    </main>

{% endblock %}