{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clinica</title>
    {% tailwind_css %}
    {% block extra_head %}

    {% endblock %}
  </head>
  <body>
    <nav class="navbar bg-base-300 mx-auto p-4">
      <div class="navbar-start">
        <span class="text-lg font-bold text-primary"><a href="{% url 'historia:index' %}">Home</a></span>
      </div>
      <div class="navbar-center">
        <ul class="flex space-x-10">
          <li>
            <a href="{% url 'historia:tabla_pacientes' %}">Lista de Pacientes</a>
          </li>
          <li>
            <a href="{% url 'historia:crear_paciente' %}">Crear Paciente</a>
          </li>
        </ul>
      </div>
      <div class="navbar-end space-x-4">
        <div>
          Usuario:
          <span class="font-bold">{{ user }}</span>
        </div>

        <form action="{% url 'accounts:logout' %}" method="post">
          {% csrf_token %}
          <button type="submit">Logout</button>
        </form>
      </div>
    </nav>
    {% block content %}

    {% endblock %}
  </body>
</html>
