<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">Identificacion</th>
      <th scope="col" class="px-6 py-3">Nombre</th>
      <th scope="col" class="px-6 py-3">Edad</th>
      <th scope="col" class="px-6 py-3">Sexo</th>
      <th scope="col" class="px-6 py-3">Etnia</th>
      <th scope="col" class="px-6 py-3">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for paciente in pacientes %}
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <td>{{ paciente.identificacion }}</td>
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ paciente.nombre_completo }}</th>
        <td>{{ paciente.get_edad }}</td>
        <td>{{ paciente.get_genero_display }}</td>
        <td>{{ paciente.etnia }}</td>
        <td>
          <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline" href="{% url 'historia:editar_paciente' paciente.id %}">Editar</a>
          <a class="font-medium text-red-600 dark:text-red-500 hover:underline" href="{% url 'historia:eliminar_paciente' paciente.id %}">Eliminar</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
