<table class="table">
  <thead class="text-xs uppercase bg-base-300">
    <tr>
      <th>Identificacion</th>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Sexo</th>
      <th>Etnia</th>
      <th>Acciones</th>
      <th>Historia Clinica</th>
    </tr>
  </thead>
  <tbody>
    {% for paciente in pacientes %}
      <tr class="hover">
        <td>{{ paciente.identificacion }}</td>
        <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">{{ paciente.nombre_completo }}</th>
        <td>{{ paciente.get_edad }}</td>
        <td>{{ paciente.get_genero_display }}</td>
        <td>{{ paciente.etnia }}</td>
        <td>
          <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline" href="{% url 'historia:editar_paciente' paciente.id %}">Editar</a>
          <a class="font-medium text-red-600 dark:text-red-500 hover:underline" href="{% url 'historia:eliminar_paciente' paciente.id %}">Eliminar</a>
        </td>
        <td>
          <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline" href="{% url 'historia:ver_historias' paciente.identificacion %}">Ver</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
