{% extends 'historia/base.html' %}

{% block title %}
  Tabla pacientes
{% endblock %}

{% block extra_head %}
  <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<main class="container mx-auto p-4">
  <h1 class="text-2xl font-bold gap-4">Pacientes</h1>

  <form action="" class="gap-4 mb-4">
    <div class="flex flex-row space-x-5">
      <div class="flex flex-col items-center">
        <label for="sexo" class="label">Sexo</label>
        <select name="sexo" id="filtrar_sexo" hx-get="{% url 'historia:generar_tabla_pacientes' %}" hx-target="#contenedorTabla" class="select select-bordered w-full max-w-xs">
          <option value="">Selecciona</option>
          {% for key_genero, genero in generos_validos.items %}
            <option value="{{ key_genero }}">{{ genero }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="flex flex-col items-center">
        <label for="etnia" class="label">Etnia</label>
        <select name="etnia" id="filtrar_sexo" hx-get="{% url 'historia:generar_tabla_pacientes' %}" hx-target="#contenedorTabla" class="select select-bordered w-full max-w-xs">
          <option value="">Selecciona</option>
          {% for key_etnia, etnia in etnias_validas.items %}
            <option value="{{ key_etnia }}">{{ etnia }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </form>

  <div id="contenedorTabla" class="relative overflow-x-auto shadow-md sm:rounded-lg" hx-get="{% url 'historia:generar_tabla_pacientes' %}" hx-trigger="load">

    
  </div>

  <a href="{% url 'historia:crear_paciente' %}">Crear paciente</a>
</main>

{% endblock %}
