{% extends 'historia/base.html' %}

{% block title %}
  Lista Historas
{% endblock %}

{% block content %}
  <main class="container mx-auto p-4 space-y-5">
    {% comment %} botton para crear nuevo antecedente {% endcomment %}
    <a href="{% url 'historia:crear_historia' paciente.pk %}" class="btn btn-primary">Nuevo antecedente</a>

    <ul class="menu bg-base-200 rounded-box">
      <li class="menu-title text-gray-400">Antecedentes de {{ paciente.nombre_completo }}</li>
      {% for historia in historias %}
        <li class="{% if not historia.habilitado %} disabled {% endif %}">
          <a href="{% url 'historia:editar_historia' historia.id_historia %}">
            <ul>
              <li>{{ forloop.counter }}.</li>
              <li>
                <p>
                  <span class="font-bold">Grupo antecedente:</span>{{ historia.grupo_antecedente }}
                </p>
              </li>
              <li>
                <p>
                  <span class="font-bold">Tipo antecedente:</span>{{ historia.tipo_antecedente }}
                </p>
              </li>
              <li>
                <p>
                  <span class="font-bold">Fecha:</span>{{ historia.fecha }}
                </p>
              </li>
            </ul>
          </a>
        </li>
      {% endfor %}
    </ul>
  </main>
{% endblock %}
